.taxo {
  &__header {
    height: 170px;
    width: 100%;
    font-size: 44px;
    font-weight: bold;
    text-transform: capitalize;
    
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
  }

  &__key {
    margin: 0 1rem;
    font-size: 1.5rem;
  }

  &__ul {
    margin: 1rem;
  }

  &__li {
    margin: 0.125rem 0;
  }

  &__title {
    font-size: 1.25rem;

  }
}