$darkcode: (
  content-code-color: #f48fb1,
  content-code-in-pre-color: #fcfcfa,
  content-code-background-color: #ffe56433,
  content-pre-color: #eee,
  content-pre-number-color: #666,
  content-pre-background-color: #2A2C37,
  content-pre-border-background-color: rgba(243, 242, 241, 0.1),
  content-pre-header-background-color: #262838,
  content-pre-header-color: #FCFCFA,
);