$darkcode: (
  content-code-color: #fcfcfa,
  content-pre-color: #eee,
  content-pre-number-color: #666,
  content-pre-background-color: #171f2e,
  content-pre-header-background-color: darken(#011627, 1.5%),
  content-pre-border-background-color: #3a3a3a,
  content-pre-header-color: #FCFCFA,
);