$lightcode: (
  content-code-color: #607d8b,
  content-pre-main-color: #607d8b,
  content-pre-color: #344952,
  content-pre-number-color: #aaa,
  content-pre-background-color: #eceff1,
  content-pre-border-background-color: darken(#eceff1, 7%),
  content-pre-header-background-color: darken(#eceff1, 3.5%),
  content-pre-header-color: #344952,
);